[Unit]
Description=Timer pour le service de lancement automatique du script d'archivage

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Unit=mon_super_archiver.service
Persistent=true

[Install]
WantedBy=timers.target
